body {
  margin: 0;
  padding: 0;
  font-family: hind;
}


.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background:  white;
  width: 100%;
  border-bottom: 3px solid whitesmoke;
  position: sticky;
  top: 0;
}


.hlogo{
   height: 58.499996185302734px;
  display: flex;
  top: 15px;
  width: 177px;
  justify-content: center;
  padding-right: 10px;
  flex-direction: column;
  height: 58.499996185302734px;

}

  .head-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
  }
.container{
  width: 100%;
}

.close{
  width: 35px;
  height: 25px;
  cursor: pointer;
}
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width:0;
  overflow: hidden;
  height: 100%;
  color: black;
  transition: all 0.4s ;
}
.open{
  width: 400px;
  padding-left: 10px;
  padding-right: 20px;
}

.lIM {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 400px;
  height: 50px;
  color: #040338;
  text-align: center;
  
}

.navbar ul{
  padding-inline-start: 0;
}

.lIM li{
  margin-left: 20px;
}


.lIM img{
  width: 25px;
  height: 25px;
  margin-left: 20px;

}


.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  top: -10px;
}

.menu-btn__burger::after {
  top: 10px;
}




.lIM li{
  margin-left: 20px;
}


.lIM img{
  width: 25px;
  height: 25px;
  margin-left: 20px;

}


.navbar .lIM a {
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
 
}

.lIM  a:hover {
  color: white;

}

.lIM  img:hover {
  color: white;

}


.navbar ul .lIM:hover{
  background: #040338;
  color: white;
}


  
  /* profile starts here */

  .hed{
    display: flex;
    justify-content: center;
    color: #F7840D;
    font-size: 20px;

  }

  .exp,.exp1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
    max-width: 1200px;
    margin-top: 0%;
    padding: 15px;
    gap: 10px;
  }


  .exp img,.exp1 img{
    width: 250px;;
    height: 300px;
  }



  .h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 106.66666412353516px;
    background: #CCD7FF;
     margin-top: 0%;
    color: #020066;
    margin-top: -4px;
  }

.h p{
  margin-top: -20px;
}

.h h1{
  margin-top: 0%;
}

  .hh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 106.66666412353516px;
    background: #F6B26B;
    color: #020066;
    margin-top: -4px;
  }

  .hh p{
    
      margin-top: -20px;
    }

    .hh h1{
      margin-top: 0%;
    }

  

 

  footer{
    width: 100%;
    height: 20px;
  background: whitesmoke;
  margin-top: 10px;
  }

  @media (max-width:820px) {
    .div1{
      flex-wrap: wrap;
    }
    .one{
      width: 100%;
      font-size: 90%;
    }
    .lIM{
      font-size: 80%;
    }
    .navbar .lIM a{
  font-size: 20px;
    }
  }
  @media (max-width:600px) {
    .container{
      flex-direction: column;
    }
    }
  @media (max-width:400px) {
    .lIM{
      font-size: 70%;
    }
    .hlogo img{
      height: 46px;
      padding-top: 8px;
    }
    .hlogo{
      padding-right: 5px;
      width: fit-content;
    }
    .head{
      height: 50px;
    }
    .open{
      width: 100%;
    }
    .mddle{
      flex-wrap: wrap;
      margin: auto;
        }
        .theFour{
      margin: auto;
      width: 100%;
        }
        .top1{
          width: 100%;
        }
        .top2{
          width: 100%;
        }
        .container{
          font-size: 2rem;
        }
        .one{
          height: 130px;
        }
        h2{
          font-size: 1.2rem;
        }
        h1{
          font-size: 1.4rem;
          text-align: center;
        }
.exp1 img,.exp img,.hh,.h{
  width: 260px;
}
.exp1 img,.exp img{
  height: 260px;
}
  }