body {
  margin: 0;
  padding: 0;
  /* font-family: Alegreya sans SC; */
}


.head-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background:  white;
  width: 100%;
  border-bottom: 3px solid whitesmoke;
  position: sticky;
  top: 0;
}


.hlogo{
  display: flex;
  justify-content: center;
 padding-right: 10px;
 flex-direction: column;
  height: 60px;
  border-radius: 0px;

}

.hlogo img{
  height: 56px;

}
.container{
  width: 100%;
}

.close{
  width: 35px;
  height: 25px;
  cursor: pointer;
  
}
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width:0;
  overflow: hidden;
  height: 100%;
  color: black;
  transition: all 0.4s ;
}
.open{
  width: 400px;
  padding-left: 10px;
  padding-right: 20px;
}

.lIM {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 400px;
  height: 50px;
  color: #040338;
  text-align: center;
  
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
}
.content{
  margin: auto;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  top: -10px;
}

.menu-btn__burger::after {
  top: 10px;
}



.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  color: black;
}



.lIM li{
  margin-left: 20px;
}


.lIM img{
  width: 25px;
  height: 25px;
  margin-left: 20px;

}


.navbar .lIM a {
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
 
}

.lIM  a:hover {
  color: white;

}

.lIM  img:hover {
  color: white;

}


.navbar ul .lIM:hover{
  background: #040338;
  color: white;
}



/* end of hearder/nav */

h2{

  align-items: center;
  color:#F7840D;
  justify-content: center;
  display: flex;
}

/* end of the h2 */


h4{
  color: blue;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

h5{

color: blue;

}

p{
 color: darkslategray;

}

span {
padding-left: 7px;
  color: cadetblue;
}

h4 , span { 
 white-space: nowrap;
/* display: flex;
justify-content:flex-s; */
}
h4{
  color: black;
}
h5{
  color: rgb(64, 63, 63);
}
.content{
/* 
  font-size: 16px;
  margin-right: 10px;
  font-weight: 3px; */
  padding-bottom: 40px;
}




h4, h5, p {
  display: flex;
  margin-bottom: 1px;
  margin-top: 1px;
}

/* end of the circle */

.new {
 
  
        position: absolute;
        bottom: 10;
        right: 20px;
        background-color:cadetblue;
        padding: 10px;
    
      

}
.new a{
  color: white;
  text-align: center;
  display: inherit;
}
/* .new p{
display: flex;
justify-content: center;
align-items: center;
  text-align: center;
} */



 a {
  text-decoration: none;

}

a:hover {
  color: #FFF;
}
.circle-container{
  
  padding: 15px;
}
 .circle-container:hover{
  color: #FFFFFF;
  background-color:lightblue;
  transition: .4s;
 }

 h4:hover{
  color: #FFFFFF;
   transition: .4s;
} 

 h5:hover{
  color: #FFFFFF;
   transition: .4s;
} 

.new:hover{
  color: #FFFFFF;
  background-color:blue;
  transition: .4s;
}
@media (max-width:820px) {
  .div1{
    flex-wrap: wrap;
  }
  .one{
    width: 100%;
    font-size: 90%;
  }
  .lIM{
    font-size: 80%;
  }
  .navbar .lIM a{
font-size: 20px;
  }
}
@media (max-width:600px) {
  .container{
    flex-direction: column;
  }
  }
@media (max-width:400px) {
  .new{
    position: sticky;
    bottom: 0;
  }
  .hlogo img{
    height: 46px;
    padding-top: 8px;
  }
  .head{
    height: 50px;
    padding: 5px;
  }
  .open{
    width: 100%;
  }
  .mddle{
    flex-wrap: wrap;
    margin: auto;
      }
      .theFour{
    margin: auto;
    width: 100%;
      }
      .top1{
        width: 100%;
      }
      .top2{
        width: 100%;
      }
      .container{
        font-size: 2rem;
      }
      .one{
        height: 130px;
      }
      h2{
        font-size: 1.2rem;
      }
      .head-logo{
        padding-right: 20px;
      }
}
