body {
    margin: 0;
    padding: 0;
    /* font-family: Alegreya sans SC; */
  }
  

  
  .head{
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   background:  white;
   width: 100%;
   border-bottom: 3px solid whitesmoke;
   position: sticky;
   top: 0;
  }


  .hlogo{
    height: 58.499996185302734px;
    width: 177px;
    top: 15px;
    border-radius: 0px;
    padding-right: 10px;
  }

  .head-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .close{
    width: 35px;
    height: 25px;
    cursor: pointer;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    width: 30px;
    height: 30px;
    position: relative;
  }
  
  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 30px;
    height: 3px;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    top: -10px;
  }
  
  .menu-btn__burger::after {
    top: 10px;
  }
  
  
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    color: black;
  }
  
  .lIM {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 400px;
    height: 50px;
    color: #040338;
    text-align: center;
    
  }

  .lIM li{
    margin-left: 20px;
  }
  

  .lIM img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
 
  }

  .navbar ul{
    padding-inline-start: 0;
  }
  .navbar .lIM a {
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
   
  }
  
  
  .lIM  a:hover {
    color: white;

  }

  .lIM  img:hover {
    color: white;

  }


  .navbar ul .lIM:hover{
    background: #040338;
    color: white;
  }
  
  .navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    width:0;
    overflow: hidden;
    height: 100%;
    color: black;
    transition: all 0.4s ;
  }
  .open{
    width: 400px;
    padding-left: 10px;
    padding-right: 20px;
  }
  
  /* end of hearder/nav */
   h1{

    align-items: center;
    color:#F7840D;
    justify-content: center;
    display: flex;
    font-weight: 700;
  }
  
  /* end of the h1 */


  .reven {
    
    align-items: center;
    color: #020066;
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-family: Hind;
    text-align: center;
    margin-top: -1rem;

  }

  /* end of h2 */


  /* chart */
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left {
    text-align: left;
  }

  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .color1 {
    background-color: #5E3FBE;
  }

  .color2 {
    background-color: #F4F0FD;
  }

  .color3 {
    background-color: #E5DAFB;
  }

  .color4 {
    background-color: #3603A2;
  }

  .color5 {
    background-color: #A88DEB;
  }

  .color6 {
    background-color: #886BD8;
  }

  .color7 {
    background-color: #472EA3;
  }

  .right {
    text-align: right;
  }


  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left {
    text-align: left;
    margin-left: 3rem;
  }

  .right {
    text-align: right;
   margin: auto;
  }

  p {
       font-family:Hind;
       font-weight: 600;
       color:#040338 ;
       font-size: 26px;
  }

  .lgas {

    color: #040338;
    font-family: Hind;
    font-size: 26px;
    font-weight: 600;
    line-height: 78px;
    margin-left: 3rem;
  }
  .trans p{
    padding: 10px;
     width: 100%;
    }
    @media (max-width:820px) {
      .div1{
        flex-wrap: wrap;
      }
      .one{
        width: 100%;
        font-size: 90%;
      }
      .lIM{
        font-size: 80%;
      }
      .navbar .lIM a{
    font-size: 20px;
      }
    }
    @media (max-width:600px) {
      .container{
        flex-direction: column;
      }
      }
    @media (max-width:400px) {
      .hlogo img{
        height: 46px;
        padding-top: 8px;
      }
      .hlogo{
        padding-right: 5px;
        width: fit-content;
      }
      .head{
        height: 50px;
      }
      .open{
        width: 100%;
      }
      .mddle{
        flex-wrap: wrap;
        margin: auto;
          }
          .theFour{
        margin: auto;
        width: 100%;
          }
          .top1{
            width: 100%;
          }
          .top2{
            width: 100%;
          }
          .container{
            font-size: 2rem;
          }
          .one{
            height: 130px;
          }
          h2{
            font-size: 1.2rem;
          }
          .head-logo{
            padding-right: 20px;
          }
          h1{
            font-size: 1.6rem;
          }
          .left{
            margin-left: 0px;
            padding: 24px;
          }
          .lgas{
            margin-left: 0px;
            padding: 20px;
            margin-block-start: 0;
            padding-inline-start: 50px;
            
          }
    }
    