*{
    margin: 0;
    box-sizing: border-box;
}

.all{
    background: white;
    width: 100%;
    height: 250px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #F6B26B;
    margin-top: 0;

}

img{
    margin-top: 5rem;
    width: 300px;
}

p{
    text-decoration:#F6B26B;
}

.form{
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background: white;
}

.iinput{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

input{
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-top: 30px;
    border-style:solid;
    border-width: 1px;
    border-color:#e0c8ac;
    color: rgb(22, 22, 80);
}


.btn{
    color: #e07b0e;
    font-size: large;
}
.Btn{
    width: 100%;
    display: flex;
    justify-content:center;
    height: 200px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.Btn p{
    margin-top: 20px;
    color: #e07b0e ;
    font-size: larger;
    text-decoration: none;
}

a {
    
    text-decoration: none;

}
 
.Btn span:hover{
    color: #e07b0e;
}

button{
    width: 100px;
        height: 35px;
        background: rgb(22, 22, 80);
        border: 0;
        color: white;
        margin-left: auto;
}

.footer{
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
    background: #f0a24f;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer img{
    width: 170px;
    height: 100%;
    margin-top: 10px;
    height: 50px;
    margin-left: 25px;

}
.SignUP{
padding-top: 50px;
width: fit-content;
margin: auto;
}
.SignUP a{
    color:#e07b0e;
}
@media (max-width:500px) {
    input{
        width: 90%;
    }
    .form{
        width: 100%;
    }
    .Btn{
        width: 90%;
    }
}