body {
    margin: 0;
    padding: 0;
    /* font-family: Alegreya sans SC; */
  }
  
  
  .head{
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   background:  white;
   width: 100%;
   border-bottom: 3px solid whitesmoke;
   position: sticky;
   top: 0;
  }


  .hlogo{
    height: 58.499996185302734px;
    width: 177px;
    top: 15px;
    border-radius: 0px;
    padding-right: 10px;
  }

  .head-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
  }

  .close{
    width: 35px;
    height: 25px;
    cursor: pointer;
  }
  
  .hlogo img{
    height: 56px;
  
  }
  .container{
    width: 100%;
  }
  
  .close{
    width: 35px;
    height: 25px;
    cursor: pointer;
  }
  .navbar {
    position: fixed;
    z-index: 2;
    padding-top: 10px;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    width:0;
    overflow: hidden;
    height: 100%;
    color: black;
    transition: all 0.4s ;
  }
  .open{
    width: 400px;
    padding-left: 10px;
    padding-right: 20px;
  }
  
  .lIM {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 400px;
    height: 50px;
    color: #040338;
    text-align: center;
    
  }
  .navbar ul{
    padding-inline-start: 0;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    width: 30px;
    height: 30px;
    position: relative;
  }
  
  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 30px;
    height: 3px;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    top: -10px;
  }
  
  .menu-btn__burger::after {
    top: 10px;
  }
  

  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    color: black;
  }
  


  .lIM li{
    margin-left: 20px;
  }
  

  .lIM img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
 
  }


  .navbar .lIM a {
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
   
  }
  
  .lIM  a:hover {
    color: white;

  }

  .lIM  img:hover {
    color: white;

  }


  .navbar ul .lIM:hover{
    background: #040338;
    color: white;
  }
  

  
  
  /* end of hearder/nav */
   h1{

    display: flex;
    justify-content: center;
    align-items: center;
    color:#F7840D;
    font-size: 35px;
  }
  
 
   .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 2000px;
    height: 87px; */
  
    
  }
.container a{
  width: 100%;
}
  .box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 87px;
    border: 1px solid #020066;
    background-color:#CCD7FF;
    
  }


  #obox{
    background-color: #F6B26B;
  }

  .box img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .box p {

    padding-inline: 4rem;
    color: #020066;
    font-family:Hind ;
    font-weight: 500;
    font-size:30px ;
    text-align: right;
  }

  a {
    
    text-decoration: none;
  }
  .containers-div{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;

  }
  @media (max-width:820px) {
    .div1{
      flex-wrap: wrap;
    }
    .one{
      width: 100%;
      font-size: 90%;
    }
    .lIM{
      font-size: 80%;
    }
    .navbar .lIM a{
  font-size: 20px;
    }
  }
  @media (max-width:600px) {
    .container{
      flex-direction: column;
    }
    .box{
      width: 90%;
      margin: auto;
     }  
    }
  @media (max-width:400px) {
   
    .lIM{
      font-size: 70%;
    }
    .hlogo img{
      height: 46px;
      padding-top: 8px;
    }
    .hlogo{
      padding-right: 5px;
      width: fit-content;
    }
    .head{
      height: 50px;
    }
    .open{
      width: 100%;
    }
    .mddle{
      flex-wrap: wrap;
      margin: auto;
        }
        .theFour{
      margin: auto;
      width: 100%;
        }
        .top1{
          width: 100%;
        }
        .top2{
          width: 100%;
        }
        .container{
          font-size: 2rem;
        }
        .one{
          height: 130px;
        }
        h2{
          font-size: 1.2rem;
        }
     
   .box p{
    padding-inline: 0;
    text-align: left;
    font-size: 1.3rem;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }
  }