body {


.lIM  a:hover {
  color: white;

}

.lIM  img:hover {
  color: white;

}


.navbar ul .lIM:hover{
  background: #040338;
  color: white;
}

.navbar.open {
  transform: translateX(0);
}

.navbar.open li {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}

.navbar.open li:nth-child(2) {
  transition-delay: 0.3s;
}

.navbar.open li:nth-child(3) {
  transition-delay: 0.4s;
}

.navbar.open li:nth-child(4) {
  transition-delay: 0.5s;
}

.navbar.open li:nth-child(5) {
  transition-delay: 0.6s;
}




h1{

    display: flex;
    justify-content: center;
    align-items: center;
    color:#F7840D;
    font-size: 35px;
  }
  /* end of h1 */
    
     .ongiong {
      color: #F7840D;
      font-family: Hind;
      padding-left: 100px;
      font-size: 30px;

     }

      #red {
        color: red;
        font-family: Hind;
        padding-left: 100px;
        font-size: 30px;
  
       }
  
       .recently {
        color: green;
        font-family: Hind;
        padding-left: 100px;
        font-size: 30px;
  
       }

.box {
    display: flex;
    align-items: flex-start;
    border: 1px solid #F7840D;
    height: 70px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  
  .road-image {
    
    width: 24px;
    height: 24px;
    padding-top: 2rem;
    padding-right: 1rem;
    
  }
  
  .road-info {
      width: 100%;
  }
  
  .road-info h3{
      padding: 0;
      margin: 0;
      color: #020066;
      font-family: Hind;
      font-weight: 400;
      font-size: 24px;
  }
  
  .status-commissioned {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .status {
      font-size: 20px;
      font-family: Hind;
      font-weight: 300;
      color: #020066;
   }
  
   .commissioned {
      font-size: 20px;
      font-family: Hind;
      font-weight: 300;
      color: #F7840D;
      padding-right: 1rem;
   }