



body {
  margin: 0;
  padding: 0;
  font-family: hind;
}


.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background:  white;
  width: 100%;
  border-bottom: 3px solid whitesmoke;
  position: sticky;
  top: 0;
}
.head-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hlogo{
  display: flex;
  justify-content: center;
 padding-right: 10px;
 flex-direction: column;
  height: 80px;
  border-radius: 0px;

}

.hlogo img{
  height: 56px;

}
.container{
  width: 100%;
}

.close{
  width: 40px;
  height: 25px;
  cursor: pointer;
}
.navbar {
  position: fixed;
  z-index: 2;
  padding-top: 10px;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width:0;
  overflow: hidden;
  height: 100%;
  color: black;
  transition: all 0.4s ;
}
.open{
  width: 400px;
  padding-left: 10px;
  padding-right: 20px;
}

.lIM {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 400px;
  height: 50px;
  color: #040338;
  text-align: center;
  
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  top: -10px;
}

.menu-btn__burger::after {
  top: 10px;
}



.lIM li{
  margin-left: 20px;
}


.lIM img{
  width: 25px;
  height: 25px;
  margin-left: 20px;

}


.navbar .lIM a {
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
 
}

.lIM  a:hover {
  color: white;

}

.lIM  img:hover {
  color: white;

}

.navbar ul{
  padding-inline-start: 0;
}
.navbar ul .lIM:hover{
  background: #040338;
  color: white;
}


h1{

    display: flex;
    justify-content: center;
    align-items: center;
    color:#F7840D;
    font-size: 35px;
  }
  /* end of h1 */
    
     .ongiong {
      color: rgb(255, 157, 0);
      font-family: Hind;
      padding-left: 100px;
      font-size: 30px;

     }

      #red {
        color: red;
        font-family: Hind;
        padding-left: 100px;
        font-size: 30px;
  
       }
  
       .recently {
        color: green;
        font-family: Hind;
        padding-left: 100px;
        font-size: 30px;
  
       }
#green{
  color: green;
}
.box {
    display: flex;
    align-items: flex-start;
    border: 1px solid #F7840D;
    height: fit-content;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .road-image {
    
    width: 24px;
    height: 24px;
    padding-top: 2rem;
    padding-right: 1rem;
    
  }
  
  .road-info {
      width: 100%;
  }
  
  .road-info h3{
      padding: 0;
      margin: 0;
      color: #020066;
      font-family: Hind;
      font-weight: 400;
      font-size: 24px;
  }
  
  .status-commissioned {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .status {
      font-size: 20px;
      font-family: Hind;
      font-weight: 300;
      color: #020066;
   }
  
   .commissioned {
      font-size: 20px;
      font-family: Hind;
      font-weight: 300;
      color: #F7840D;
      padding-right: 1rem;
   }
   @media (max-width:820px) {
    .div1{
      flex-wrap: wrap;
    }
    .one{
      width: 100%;
      font-size: 90%;
    }
    .lIM{
      font-size: 80%;
    }
    .navbar .lIM a{
  font-size: 20px;
    }
  }
  @media (max-width:600px) {
    .container{
      flex-direction: column;
    }
    }
  @media (max-width:400px) {
    .lIM{
      font-size: 70%;
    }
    .hlogo img{
      height: 46px;
      padding-top: 8px;
    }
    .hlogo{
      padding-right: 5px;
      width: fit-content;
    }
    .head{
      height: 50px;
    }
    .open{
      width: 100%;
    }
    .mddle{
      flex-wrap: wrap;
      margin: auto;
        }
        .theFour{
      margin: auto;
      width: 100%;
        }
        .top1{
          width: 100%;
        }
        .top2{
          width: 100%;
        }
        .container{
          font-size: 2rem;
        }
        .one{
          height: 130px;
        }
        h2{
          font-size: 1.2rem;
        }
        h1{
          font-size: 1.4rem;
          text-align: center;
        }
.exp1 img,.exp img,.hh,.h{
  width: 260px;
}
.exp1 img,.exp img{
  height: 260px;
}
  }