body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin-bottom: 800px;
}
.head{
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   background:  white;
   width: 100%;
   border-bottom:3px solid whitesmoke;
  }

.hlogo{
    height: 58.499996185302734px;
    width: 177px;
    top: 15px;
    border-radius: 0px;

}

.arrow-back {

    height: 44px;
    width: 150px;
    padding-left: 87px;
    padding-top: 50px;
}

.darkness {

    color:#F7840D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    font-family: Hind;
    margin-top: -6rem;
   
}



.detail {

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 1249px;
    height: 45px;
    border: 1px solid #F6B26B;
    border-radius: 5px;
    margin-top: 25px;
    background-color:#E4DDDD;
    margin-left: 90px;
  }


  input {
    outline: none;
    border: none;
    background: none;
    width: 1249px;
    font-size: 16px;
    font-weight: 500;
    font-family: Hind;
    line-height: 25.62px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
  }


  .container {
    display: flex;
    gap: 20px; /* Adjust the gap between the images as needed */
    margin-left: 90px;
    margin-top: 3rem;
    border-radius: 1px;
   
}

.container img {
    width: 295px; /* Set the width of the images as needed */
    height: 190px; /* Maintain aspect ratio */
    border: 1px solid #F6B26B;
    border-radius: 1px;
}


.send {

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 10rem;

   
}
 

button {

    color: white;
    background-color: #020066;
    height: 2rem;
    border: 1px solid #E4DDDD;
    border-radius: 6px;

}
a {

    text-decoration: none;
}

  




