body {
  margin: 0;
  padding: 0;
  /* font-family: Alegreya sans SC; */
}


.head{
  display: flex;
 align-items: center;
 justify-content: space-between;
 height: 80px;
 background:  white;
 width: 100%;
}


.hlogo{
  display: flex;
  justify-content: center;
 
 flex-direction: column;
  height: 80px;
  border-radius: 0px;

}

.hlogo img{
  margin-top: -10px;

}

#current_time{
  /* background: #F6B26B; */
  color: #F7840D;
  margin-top: -10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: duration timing-function delay iteration-count direction fill-mode;
}

.head-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

 

.close{
  width: 25px;
  height: 25px;
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  top: -10px;
}

.menu-btn__burger::after {
  top: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  width: 400px;
  height: 100%;
  color: black;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  color: black;
}

.lIM {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  color: #040338;
  text-align: center;
  
}

.lIM li{
  margin-left: 20px;
}


.lIM img{
  width: 25px;
  height: 25px;
  margin-left: 20px;

}


.navbar .lIM a {
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
 
}

.lIM  a:hover {
  color: white;

}

.lIM  img:hover {
  color: white;

}


.navbar ul .lIM:hover{
  background: #040338;
  color: white;
}

.navbar.open {
  transform: translateX(0);
}

.navbar.open li {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}

.navbar.open li:nth-child(2) {
  transition-delay: 0.3s;
}

.navbar.open li:nth-child(3) {
  transition-delay: 0.4s;
}

.navbar.open li:nth-child(4) {
  transition-delay: 0.5s;
}

.navbar.open li:nth-child(5) {
  transition-delay: 0.6s;
}
  
  
  /* end of hearder/nav */

  .blue{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 500px;
    background:  #020066;
    margin-top: -18px;
  }
 
  .first-h1{
    font-family: Alegreya Sans SC;
   font-size: 50px;
    letter-spacing: 2px;
    color: white;
    margin-left: 10px;
    /* width: 300px; */


  }

 .blue p{
    color: #F6B26B;
    margin-top: 0;
    font-size: 18px;
   
  }

  

  .middle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 50px;
  }

  .mddle{
    display: flex;
  }

  .theFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .top1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   color: #020066;
    width: 150px;
    height: 100px;
    background: #F6B26B;
    margin-left: 40px;
    border-radius: 5px;
   font-family: 5px;
  }

  .top1 p{
    color: #020066;
    font-size: xx-large;
  }

  .top2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   width: 150px;
   height: 100px;
    background: #CCD7FF;
    color: #020066;
    margin-left: 40px;
    border-radius: 5px;
    font-family: hind ;
  }

  .top2 p{
    color: #020066;
    font-size: xx-large;
  }

    .p{
    font-family: Hind;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 0;


  }


  /* start of footer */



  .btm-head{
    font-family: hind;
    font-size: 29px;
    text-align: center;
    color: #F7840D;
    /* end of the h2 */
  }

  .sub-btm{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 400px;
  }

  .sub-btm h1{
    margin-left: 10px;
  }

  .div1{
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }

  .div2{
    display: flex;
    margin-left: 5px;
    justify-content: center;
  }

  .one{
    display: flex;
    align-items: center ;
    height: 100px;
    width: 509.31524658203125px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-left: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #F6B26B;
    /* margin-top: 5px; */

  }
  .one img{
    height: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .one1{
    display: flex;
    align-items: center ;
    height: 100px;
    width: 509.31524658203125px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-left: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #F6B26B;

  }

  .one1 img{
    height: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .two{ display: flex;
    align-items: center ;
    height: 100px;
    width: 509.31524658203125px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-left: 10px;
    margin-top: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: #F6B26B;
  }

  .two img{
    height: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .two2{
    display: flex;
    align-items: center ;
    height: 100px;
    width: 509.31524658203125px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-left: 10px;
    margin-top: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: #F6B26B;

  }

  .two2 img{
    height: 30px;
    height: 30px;
    margin-left: 10px;
  }


  /* footer starts here */
  footer{
    height: 30px;
    background: #020066;
    font-size: 22px;
    color: white;
    height: 100%;
  }

  @keyframes slideInleft{
    from{
      transform: translateX(-1000px);
    }

    to{
      transform: translateX(-10px);
    }
  }

 .trans {
  padding: 1px;
  height: 100%;
  display: flex;
    animation: slideInleft 10s ease-in 
    0s infinite normal none;

  }

  .trans p{
   margin-left: 20px;
   width: 100%;
  }