*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background:  white;
  width: 100%;
  border-bottom: 3px solid whitesmoke;
  position: sticky;
  top: 0;
}


.hlogo{
   height: 58.499996185302734px;
  display: flex;
  top: 15px;
  width: 177px;
  justify-content: center;
  padding-right: 10px;
  flex-direction: column;
  height: 58.499996185302734px;

}

  .head-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
.container{
  width: 100%;
}

.close{
  width: 35px;
  height: 25px;
  cursor: pointer;
}
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width:0;
  overflow: hidden;
  height: 100%;
  color: black;
  transition: all 0.4s ;
}
.open{
  width: 400px;
  padding-left: 10px;
  padding-right: 20px;
}

.lIM {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 400px;
  height: 50px;
  color: #040338;
  text-align: center;
  
}

.lIM li{
  margin-left: 20px;
}

.navbar ul{
  padding-inline-start: 0;
}
.lIM img{
  width: 25px;
  height: 25px;
  margin-left: 20px;

}




#current_time{
  /* background: #F6B26B; */
  color: #F7840D;
  margin-top: -10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: duration timing-function delay iteration-count direction fill-mode;
}

.head-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

 


.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  top: -10px;
}

.menu-btn__burger::after {
  top: 10px;
}
/* added padding */

.navbar ul {
  list-style: none;
  padding: 0;
  color: black;
}



.navbar .lIM a {
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
 
}

.lIM  a:hover {
  color: white;

}

.lIM  img:hover {
  color: white;

}


.navbar ul .lIM:hover{
  background: #040338;
  color: white;
}


  
  /* end of hearder/nav */

  .blue{
    display: flex;
    /* ephraim */
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:  #020066;
    width: 100%;
  }
 
  .first-h1{
    font-family: Alegreya Sans SC;
   font-size:2rem;
    letter-spacing: 2px;
    color: white;
    margin-left: 10px;

  }

 .blue p{
    color: #F6B26B;
    margin-top: 0;
    font-size: 18px;
   width: fit-content;
  }

  

  .middle{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
  }

  .mddle{
    display: flex;
    gap: 20px;
  }

  .theFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .top1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   color: #020066;
    width: 150px;
    height: 100px;
    background: #F6B26B;
    border-radius: 5px;
   font-family: 5px;
  }

  .top1 p{
    color: #020066;
    font-size: xx-large;
  }

  .top2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   width: 150px;
   height: 100px;
    background: #CCD7FF;
    color: #020066;
    border-radius: 5px;
    font-family: hind ;
  }

  .top2 p{
    color: #020066;
    font-size: xx-large;
  }

    .p{
    font-family: Hind;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 0;


  }


  /* start of footer */


.btm{
  padding-top: 20px;
  padding-bottom: 70px;
}
  .btm-head{
    font-family: hind;
    font-size: 29px;
    text-align: center;
    color: #F7840D;
    /* end of the h2 */
  }

  .sub-btm{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 15px;
   padding: 10px;
  }

  .sub-btm h1{
    margin-left: 10px;
  }

  .div1{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }


  .one{
    display: flex;
    align-items: center ;
    height: 100px;
    width: 50%;
    border-radius: 0px;
    margin-left: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #F6B26B;
    max-width: 500px;
    padding: 10px;
    /* margin-top: 5px; */

  }
  .one img{
    height: 30px;
    height: 30px;
  }

  .one1{
    display: flex;
    align-items: center ;
    height: 100px;
    width:50%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-left: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #F6B26B;

  }

  .one1 img{
    height: 30px;
    height: 30px;
    margin-left: 10px;
  }

 

  /* footer starts here */
  footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    background: #020066;
    font-size: 22px;
    color: white;
    width: 100%;
  }

  @keyframes slideInleft{
    from{
      transform: translateX(-1000px);
    }

    to{
      transform: translateX(-10px);
    }
  }

 .trans {
  padding: 1px;
  height: 100%;
  display: flex;
    animation: slideInleft 10s ease-in 
    0s infinite normal none;

  }

  .trans p{
  padding: 10px;
   width: 100%;
  }
  @media (max-width:820px) {
    .div1{
      flex-wrap: wrap;
    }
    .one{
      width: 100%;
      font-size: 90%;
    }
    .lIM{
      font-size: 80%;
    }
    .navbar .lIM a{
  font-size: 20px;
    }
  }
  @media (max-width:600px) {
    .container{
      flex-direction: column;
    }
    }
  @media (max-width:400px) {
    .lIM{
      font-size: 70%;
    }
    .hlogo img{
      height: 46px;
      padding-top: 8px;
    }
    .hlogo{
      padding-right: 5px;
      width: fit-content;
    }
    .head{
      height: 50px;
    }
    .open{
      width: 100%;
    }
    .mddle{
      flex-wrap: wrap;
      margin: auto;
        }
        .theFour{
      margin: auto;
      width: 100%;
        }
        .top1{
          width: 100%;
        }
        .top2{
          width: 100%;
        }
        .container{
          font-size: 2rem;
        }
        .one{
          height: 130px;
        }
        h2{
          font-size: 1.2rem;
        }
        
  }
  